@charset "UTF-8";
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    
}
table tr:nth-child(odd){
    background-color: lightslategray;
}

.fejlec{
    background-color: red;
    cursor:grab;
}